<!--This code is the landing page code for the cms app-->
<main>
  <div class="container">
    <div class="login-form">
      <h1 class="login-header">Welcome to Content Management System App</h1>
      <br />
      <p>Make The Most Of Your Creative Life</p>
      <br />
      <button class="loginbtn" routerLink="/login">Login</button>
      <br />
      <button class="create-account" routerLink="/signup">Create New Account
      </button>
    </div>
  </div>
</main>
<footer class="foot">
  <p>&copy; RS Magazine.All rights are reserved</p>
</footer>