<!--This code is the login page code for the cms app-->
<body>
  <main>
    <div class="container">
      <section class="login-form">
        <h1>Login to CMS App</h1>
        <form>
          <input type="email" placeholder="Email" required (keyup)="onkey($event, 'email')"/>
          <p *ngIf="!valid.email" class="text-red-200 text-xs italic">Invalid Email</p>
          <input type="password" placeholder="Password" required />
          <button type="submit" routerLink="/contentpage">Log In</button>
          <a href="/password">Forgot Password?</a>
          <p>
            <span>or</span>
          </p>
        </form>
        <button class="create-account" routerLink="/signup">Create New Account
        </button>
        <br />
        <button class="btn btn-primary back" routerLink="/">Back
        </button>
      </section>
    </div>
  </main>
</body>
