<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="about container">
      <h1 class="heading">About</h1>
      <p class="heading">
       Content Management System Application is a simple application where users can post something and can perform Crud operations on it.
      </p>
      <br />
      <br />
      <br />
      <h1 class="heading">Vision&Mission</h1>
      <p class="heading">
       Vision of Content Management System Application is to help users know about others skills and potential and build them.
      </p>
      <br />
      <br />
      <br />
      <div class="follow">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a><br />
        <a href="#">Youtube</a><br />
        <a href="#">Instagram</a><br />
        <a href="#">Twitter</a><br />
      </div>
    </section>
  </body>
</html>
