<!--This this the html code for the navbar of the page which is same for all pages-->
<ul>
  <div class="logo">
    <li><i class="fa-solid fa-square-pen"></i></li>
    <li><a class="active">RS Magazine App</a></li>
  </div>

  <li><a routerLink="aboutus">About us</a></li>
  <li>
    <a routerLink="contentpage" (click)="alertConfirmation()">Contentpage </a>
  </li>
  <li><a routerLink="signup">Signup</a></li>
  <li><a routerLink="login">Login</a></li>
  <li><a href="#home">Home</a></li>
</ul>
<router-outlet></router-outlet>
