    <header>
        <div class="container">
          <div class="content">
            <h1 class="main-heading">Content Management System App</h1>
          </div>
        </div>
      </header>
      <div class="background">
    <div id="wrapper">
      <div id="div2">
        <h1>Create New Account</h1>
        <li>
          <input
            type="text"
            placeholder="First Name"
            id="Firstname"
            required
          />
        </li>

        <li>
          <input
            type="text"
            placeholder="Surname"
            id="surname"
            required
          />
        </li>

        <li>
          <input
            type="text"
            placeholder="email"
            id="email-input"
            required
          />
        </li>
        <li>
          <input
            type="password"
            placeholder="password"
            required
          />
        </li>
        <br />

        <input
          type="submit"
          value="Submit"
          class="back"
        />
        <br />
        <button class="btn btn-primary back">
          <a href="/">Back</a>
        </button>
      </div>
    </div>
      </div>