<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<header>
    <div class="login-form">
    <h1 class="login-header">Content Management System App</h1>
</div>
</header>
<body>
    <form class="forgot-form">
        <h2 class="login-heading">Forgot <br />Your Password?</h2>
        <h3 class="login-enter">Please enter your Email</h3>
        <input type="text" placeholder="email" class="email-css" required>
        <br />
        <input type="text" placeholder="Old Password" class="email-css" required>
        <br />
        <input type="text" placeholder="New Password" class="email-css" required>
        <br />
        <button class="reset-button">Reset Password</button>
        <br />
        <button class="btn btn-primary back">
            <a href="/">Back</a>
        </button>
    </form>
    
</body>
</html>