<!--This code is the forgot password page code for the cms app-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <form class="forgot-form">
      <h2 class="login-heading">Forgot <br />Your Password?</h2>
      <h3 class="login-enter">Please enter your Details</h3>
      <input type="text" placeholder="email" class="email-css" required (keyup)="onkey($event, 'email')"/>
      <p *ngIf="!valid.email" class="text-red-200 text-xs italic">Invalid Email</p>
      <br />
      <input
        type="text"
        placeholder="New Password"
        class="email-css"
        required
      />
      <br />
      <button class="reset-button" (click)="successNotification()">Reset Password</button>
      <br />
      <button class="btn btn-primary back">
        <a href="/">Back</a>
      </button>
    </form>
  </body>
</html>
