/* This is the contentpage css code for the cms app */
.input-box {
  height: 200px;
  width: 400px;
}

.submit-btn {
  margin-top: 10px;
  background-color: blueviolet;
  color: white;
  height: 40px;
  width: 70px;
  border-width: 0px;
  border-radius: 5px;
  float: left;
  font-family: 'Roboto', sans-serif;
}
.main-heading {
  text-align: center;
  color: rgb(180, 125, 21);
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
